<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div id="v-for-object">
        <ul>
            <li v-for="(value,key,index) in object">
                {{index}}--{{key}}:{{value}}
            </li>
        </ul>
        对象的属性有:
        <span v-for="(value,key) in object">
			{{key}},
		</span>
    </div>

    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    name: '安森一',
                    age: 22,
                    sex: '男'
                }
            },
            mounted: function() {
                delete this.object.sex;
            }
        });
    </script>
</body>

</html>