<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
	</head>
	<body>
		<div id="app">
			请选择水果：
			<input type="checkbox" v-model="fruits" value="苹果"/>苹果
			<input type="checkbox" v-model="fruits" value="西瓜"/>西瓜
			<input type="checkbox" v-model="fruits" value="桃子"/>桃子
			<input type="checkbox" v-model="fruits" value="芒果"/>芒果
			<br />
			你选中的水果为：{{fruits}}
		</div>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript">
			//$("#app").html(data.message);
			var app=new Vue({
				//绑定视图
				el:"#app",
				//绑定数据
				data:{
					fruits:[]
				}
			});
		</script>
	</body>
</html>

